<head>
<title>Hossam Sameh</title>
<style>
header {
    background: url("http://i.imgur.com/akCA66X.jpg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    padding:20px;  
}
  
footer {
    background-color:white;
    color:navy;
    clear:both;
    text-align:center;
    padding:5px;     
}
a:link {
  float:right;
  color:yellow;
  aligh: right;
    background-color:transparent;
    text-decoration:none;
}
a:visited {
  color:yellow;
  align:right
    background-color:transparent;
    text-decoration:none;
}
a:hover {
    color:#ff0000;
    background-color:transparent;
    text-decoration:underline;
}
a:active {
    color:#ff0000;
    background-color:transparent;
    text-decoration:underline;
}

 button[type="button1"]{
      float: right;
      width:100px;
      color:navy;
      margin:0px;
    }
    button[type="button3"]{
      float:right;
      width:100px;
      color:navy;
      margin:0px;
    } 

input{
      border:50px;
      font-size:18px;
      
    } 
    input[ type="submit"]{
      color:navy;
      width:100px;
      margin:10px;10px;0px;20px;
      float:right;
    }
    input[ type="comment"]{
      text-align:center;
      width:770px;
      height: 90px;
    }
nav {
    line-height:0px;
    height:100px;
    width:100px;
    float:right;
    padding:5px;        
}

section {
      text-align: center;
      /*background-size: cover;*/
    /*  background-position: center;*/
      background-repeat: no-repeat;
      color: white;
      font-family: helvetica;
    padding:10px;
    font-size:20px;
   /* color: MidnightBlue;*/
}
 th{
      padding:0px;
     font-family: Albertus;
     color: white;
     font-size:20px;
     text-align: left;
    }
    td{
    font-size=20px;
    text-align: left;
    color:white;    
    }
</style>
</head>

<body>
<header>
<img style="width: 200px; height: 200px; border-radius: 150px;"
<img src="http://i.imgur.com/s84PyZW.jpg?1" title="source: imgur.com" align="left"/>
<br><br><br>
<h1 style="text-align: center" padding:30px><h1 style="color: white">
Hossam Sameh
</h1>

<br><br>
<section>
<p>
<br><br>
Hello, I'm Hossam Sameh who is currently studying Business Informatics in the German University in Cairo.
</p>
<br><br>
<table style="width:100%">
  <tr>
    <th><b><ins>Email:</th>    
    <th><b><ins>Phone Number:</th>
    <th><b><ins>Date of birth:</th>
  </tr>
  <tr>
    <td>renad.wahdan@gmail.com</td>
    <td>+201001833733</td>
    <td>29th of April,1994</td>
  </tr>
  </table>
</section>
</header>


</body>