<!DOCTYPE html>
<title>Youssef Tarek</title>
<html>
<style>
a:link {
  float:right;
  color:navy;
  aligh: right;
    background-color:transparent;
    text-decoration:none;
}
a:visited {
  color:navy;
  align:right
    background-color:transparent;
    text-decoration:none;
}
a:hover {
    color:#ff0000;
    background-color:transparent;
    text-decoration:underline;
}
a:active {
    color:#ff0000;
    background-color:transparent;
    text-decoration:underline;
}
  div[class="jumbotron"]{
    background:url("http://i.imgur.com/akCA66X.jpg");
    background-repeat: no-repeat;
    background-position: center;
    font-color:white;
    text-align:center;
    font-size:20px;
  }
  div{
    background-color: lightgrey;
  }
  h{
  color:white;
  align:left;
  }
p1{
  color:white;
}
</style>
<body>
<header>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </header>
<div class="container">
<div class="jumbotron">
<img style="width: 200px; height: 200px; border-radius: 150px;"
<img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/60660_10204065648777401_8514636941979222693_n.jpg?oh=2d583ae88de3c3f3481409a9a39389a1&oe=55806382&__gda__=1435118027_0290b2ea00af76c4b8570bd0ca7f7265" title="source: imgur.com" align="left"/>
<br>
    <h>Hello,</h>
    <p1>I'm Youssef Tarek who is currently studying Business Informatics in the German University in Cairo.</p1>
</div>
<div class="row">

  <div class="col-md-4"> </div>
  <div class="col-md-4"> </div>
  </div>
  <div class="row">
  <div class="col-md-4">
  <h3 style="font-size:20px"><ins>Email:</ins></h3>
  <p>YousefTarek54@gmail.com</p>
  </div>
    <div class="col-md-4">
  <h4 style="font-size:20px"><ins>Phone Number:</ins></h4>
  <p>+201154973566</p>
  </div>
    <div class="col-md-4">
  <h5 style="font-size:20px"><ins>Date of Birth:</ins></h5>
  <p> 1st of June,1994</p>
  </div>
  </div>
  <%= link_to 'Take me back home', controller: 'welcome' %>
</html>